body{
    background-color:hsl(216, 12%, 8%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:"Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

/* First card */
.main-container{
    background-color:hsl(213, 19%, 18%);
    width: 19%;
    height: 45%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.3rem;
   transition: all 0.2s ease;
  
}
.main-container.active{
    display: none;
}
.star{
  background-color: hsl(213, 18%, 22%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.3rem 0;

}
.paragraph{
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(217, 12%, 63%);
    margin: 0.5rem 0 0;
}
.button-numbers{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}
.numbers{
    display: inline;
    background: none;
    color:  hsl(217, 12%, 63%);
    background-color: hsl(213, 18%, 22%);
    border-radius: 50%;
    border:0;
    width: 2.5rem;
    height: 2.2rem;
    font-size: 0.9rem;
    font-weight: 700;

}

.numbers:hover{
    color: hsl(213, 18%, 22%);
    background-color:  white;
}

.numbers.active {
  background-color: hsl(25, 97%, 53%);;
  color: white;
}

.sub-button{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.submit{
    background-color: hsl(25, 97%, 53%);
    color:  hsl(216, 12%, 8%);
    width: 100%;
    height: 2.2rem;
    padding: 0.5rem;
    border-radius: 24px;
    font-size: 0.7rem;
    font-weight: 700;
    border: none;
    letter-spacing: 0.1rem;
    
}
.submit:hover{
    color: hsl(213, 18%, 22%);
    background-color:  white;
}

.submit:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}


/* second card */
.sec-container{
    background-color:hsl(213, 19%, 18%);
    width: 19%;
    height: 44%;
    border-radius: 30px;
    padding: 1.3rem;
    display: none;
}
.sec-container.active{
    display: block;
}
.illustration{
    display: flex;
    justify-self:center;
    width: 7.5rem;
    height: 5rem;
    margin-top: 1rem;
}
.image{
   width: 7.4rem;
    height: 4.8rem;

}
.sec-button{
    display: flex;
    justify-self: center;
    align-self: center;
}
.but-2{
    background: none;
    background-color: hsl(213, 18%, 22%) ;
    border: none;
    color: hsl(25, 97%, 53%);
    border-radius: 20px;
    margin-top: 1.2rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.7rem;
}
.sec-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-top: 1.2rem;
    width: 98%;
}
.sec-text h1{
    font-size: 1.3rem;
    font-weight: 700;
        margin: 1rem 0 0;
}
.sec-text p{
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(217, 12%, 63%);
    margin: 0;
}

/* Responsive breakpoints */
@media screen and (max-width: 700px) {
    /* first card */
    .main-container{
    width: 80%;
    height: 50%;
    padding-top: 0.5rem;
    margin: 0 0.5rem 0 0;
}
 .star{
    width: 3rem;
    height: 3rem;
 }
 
.header{
    font-size: 1.7rem;
    margin: 0 0 0.3rem;
    padding: top 0;

}
.paragraph{
    font-size: 0.9rem;
    margin: 0.7rem 0 0;
    width: 90%;
}
.numbers{
    width: 3rem;
    height: 2.7rem;
    font-size: 1rem;

}

.submit{
   height: 2.8rem;
    
}

/* second card */
.sec-container{
    width: 80%;
    height: 54%;
    padding-top: 0.5rem;
    margin: 0 1rem 0 0;

}
.illustration{
    width: 11rem;
    height: 7rem;
    margin-top: 2rem;
}
.image{
   width: 11rem;
   height: 7rem;

}

.but-2{
    margin-top: 1.2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.sec-text{
    margin-top: 0rem;
    width: 100%;
}
.sec-text h1{
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
}
.sec-text p{
    font-size: 1rem;
    margin: 0;
   
}



}



/* Landscape mode adjustments */
@media screen and (max-height: 600px) and (orientation: landscape) {
    
}

/* High-DPI screens */
@media screen and (min-width: 1444px) {
     /* first card */
  .main-container{
    width: 38%;
    height: 62%;
    padding-top: 0.6rem;
    margin: 0;
}
 .star{
    width: 3.7rem;
    height: 3.7rem;
 }
 
.header{
    font-size: 2rem;
    margin: 0 0 0.5rem;
    padding: top 0;

}
.paragraph{
    font-size: 1.2rem;
    margin: 0.7rem 0 0;
    width: 90%;
}
.numbers{
    width: 4rem;
    height: 3.7rem;
    font-size: 1.2rem;
   margin-left: 0.5rem;

}

.submit{
   height: 3.7rem;
   font-size: 1.2rem;
    
}

/* second card */
.sec-container{
   width: 40%;
    height: 62%;
    padding-top: 0.5rem;
    margin: 0;

}
.illustration{
    width: 13rem;
    height: 9rem;
    margin-top: 2rem;
}
.image{
   width: 13rem;
   height: 9rem;

}

.but-2{
    margin-top: 1.6rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
}
.sec-text{
    margin-top: 0rem;
    width: 100%;
}
.sec-text h1{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}
.sec-text p{
    font-size: 1.3rem;
    margin: 0;
   
}


   
}